.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.input, .textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
}
.textarea {
  min-height: 80px;
}
.button {
  background: #eaa1a1;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}
