.main {
  padding: 0; 
}

/* Баннер */
.bannerContainer {
  margin: 28px 160px 0 160px; 
}

.banner {
 
  height: 330px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

/* Заголовок "Товары" */
.productsTitle {
  margin: 40px 0 0 160px;
  font-size: 36px;
  font-weight: bold;
  color: #000;
  text-align: left;
}

/* Линия под заголовком */
.titleLine {
  width: calc(100% - 320px); /* 160px слева + 160px справа */
  height: 1px;
  background-color: #eaeaea;
  margin: 20px auto 0 auto; 
}

/* Карточки */
.products {
  display: flex;
  justify-content: space-between;
  margin: 45px 160px 160px 160px; /* top = 866px - 821px = 45px */
  gap: 14px; /* Расстояние между карточками */
  flex-wrap: wrap; /* Перенос карточек на следующую строку */
}

/*.products > * {
  width: 386px;
  height: 393px;
}*/
