.cartMain {
  padding: 40px 160px 160px 160px; /* от хедера сверху 60px, по бокам 160px */
  font-family: Montserrat, sans-serif;
  color: #000;
}

/* Заголовок "Корзина" */
.cartTitle {
  font-size: 36px;
  font-weight: bold;
 text-align: left;
 
}

.titleLine {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 20px auto 50px auto;
}


.cartContent {
  display: flex;
  gap: 30px;
}
/* Горизонтальная линия внутри итогового блока */
.summaryLine {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 30px;
}

/* Правая боковая панель */
.summaryBox {
  width: 288px;
  height: 388px;
 background-color: rgba(0, 0, 0, 0.05);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
  border-radius: 8px;
  box-sizing: border-box;
}
.summaryBox ul {
  list-style: none; /* уб точки */
  padding: 0;       /* уб отступы слева */
  margin: 0;        /* уб внешние отступы */
}
.summaryBox ul li {
  margin-bottom: 20px; /* расстояние между товарами */
}
.totalList {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
 color: #000000B2;

}
.totalLabel {
  
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.total {
  
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}


/* Карточки корзины */
.cartCards {
  display: flex;
  flex-direction: column;
  gap: 20px;
   flex: 1;
}

.cartCard {
  display: flex;
  align-items: center;
  /* width: 388px;  
  height: 90px;*/
  padding: 16px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.05);
  justify-content: space-between;
  
}

.cartImage {
  width: 187px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}
.dividerVertical {
  width: 1px;
  height: 98px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 20px 5px;
}
.cartInfo {
  display: flex;
  
  justify-content: center;
  margin-left: 10px;
  flex: 1;
  gap: 3px;
}

.cartName {
  font-weight: 400;
  font-size: 20px;
  
  text-align: left;
}
.cardPriceBox {
  display: flex;
   min-width: 100px; 
  flex-direction: column; /* ставим метку над ценой */
  align-items: flex-start; /* выравнивание слева */
  gap: 4px; /* расстояние между "Цена:" и "180 €" */
}

.priceLabel {
  font-size: 14px;
  color:rgba(0, 0, 0, 0.5);
}

.cartPrice {
  font-size: 18px;
  color: #000;
  font-weight: 700;

}

.deleteButton {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #f3f3f3;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  margin-left: 16px;
}

.deleteButton:hover {
  background-color: #007bff;
}

.deleteButton img {
  width: 20px;
  height: 20px;
}
