.header {
  height: 110px;                  
  background-color: #222;          /* Фон */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 250px;               /* Отступы слева и справа */
  position: relative;
  color: white;
}

.logo {
  width: 197px;
  height: 24px;
  line-height: 24px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 43px;
  left: 250px;
}

.nav {
  display: flex;
  gap: 30px;
  position: absolute;
  top: 46px;
  right: 250px;
}

.navLink {
  width: auto;       
  height: 18px;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.2s ease;
}

/* Hover эффект для ссылок */
.navLink:hover {
  color: #FFFFFF;
}